<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png"></link>
        <link rel="stylesheet" href="./css/styles.css">

    </head>
    <body>
        <div class="main-content">
        <!-- esto lo que hace es una referencia a un partial, en este caso el header-->
        {{>header}}
        <p>Your are lost af right?</p>
        <p>Ok, then {{name}} will help you a bit hehe</p>
        </div>
        {{>footer}}

    </body>



</html>