<!-- aqui hacemos referencia al campo title que tienen
todos los render de cada una de las páginas -->
<!-- realmente un partial sirve para reusar codigo y no tener
que poner por ejemplo el header 1 en cada uno de los hbs,
haciendo asi que la página sea dinámica -->
<h1>{{title}}</h1>

<header>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>